<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Vue To Do List</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">
                <a href="#"><img src="img/logo.png" alt="logo"></a>
            </div>
        </header>
        <main>
            <form @submit.prevent="addTodo">
                <input type="text" id="todo-text" placeholder="Inserisci testo to do" v-model="newTodo" required>
                <button class="submit-btn" type="submit">Aggiungi</button>
            </form>
            <section id="my-list">
                <ul v-if="myList.length > 0">
                    <li v-for="(item, index) in myList" :class="{ 'line-through': item.done === true }" @click="item.done = !item.done">
                        <span class="item">{{ item.text }}</span>
                        <span><i class="fa-solid fa-xmark" @click="removeItem(index)"></i></span>
                    </li>
                </ul>
                <h2 v-else>Non sono presenti elementi 🥲</h2>
            </section>
        </main>
    </div>
    <script src="js/main.js"></script>
</body>
</html>